.wrap {
  color: rgba(0, 0, 0, 0.7);
}
.wrap > .row {
  align-items: center;
}
.left img {
  transition: transform 0.3s;
  object-fit: cover;
  max-width: 70px;
}

.left img:hover {
  transform: scale(1.1);
}
.left a {
  color: #000;
  text-decoration: none;
}

.cards {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.cards > div {
  flex: 1 1 calc(25% - 30px);
  display: flex;
  align-items: center;
  gap: 15px;
}
.cards > div h4 {
  font-size: 15px;
  color: #218a23;
  margin-bottom: 10px;
}
.cards > div p {
  text-align: left;
}
.cards > div i {
  font-size: 40px;
  color: var(--primary);
  font-weight: 700;
}
@media screen and (max-width: 1025px) {
  .cards {
    flex-wrap: wrap;
    > div {
      flex: 1 1 calc(50% - 30px);
    }
  }
}

@media screen and (max-width: 768px) {
  .cards {
    > div {
      flex-direction: column;
      flex: 1 1 calc(100% - 30px);
      text-align: center;
    }
  }
}
