.container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background: var(--border-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 15px;
}

.faq {
  position: relative;
  cursor: pointer;
  color: var(--text-dim);
  h2 {
    font-size: clamp(1.2rem, 5vw, 1.6rem);
  }
  p {
    margin-bottom: 10px;
  }
}

.action {
  display: flex;
  gap: 5px;
  justify-content: center;
  button {
    background: none;
    border: 1px solid var(--border-color);
    cursor: pointer;
    color: var(--text-dim);
    padding: 5px 10px;
    border-radius: 5px;
    text-wrap: nowrap;
    svg {
      margin-left: 5px;
    }
  }
  .edit {
    background: var(--primary);
    color: #fff;
  }
  .delete {
    color: red;
    border-color: red;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal_content {
  position: relative;
  background: var(--border-color);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(25px);
  border: 1px solid var(--primary);
  overflow: hidden;
  width: 100%;
  max-width: 500px;
  form {
    label {
      display: block;
      font-weight: 600;
      padding: 5px 0;
    }
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 10px;
      border: 1px solid var(--text-dim);
      border-radius: 5px;
      background: var(--text-dim);
      color: var(--bg);
      outline: none;
      resize: vertical;
    }
  }
}

.submit {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  background: red;
  border: none;
  outline: none;
  padding: 5px 10px;
  border-bottom-left-radius: 15px;
}
