.nav {
  position: sticky;
  top: 0;
  background: var(--bg);
  z-index: 99;
}

.scrolled {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 55px;
}

.logo {
  width: 170px;
  height: 100%;
  min-width: 120px;
  a {
    display: flex;
    height: 100%;
    img {
      width: 100%;
      object-fit: contain;
    }
  }
}

.toggle_btn {
  display: none;
  button {
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
  }
}

.menu {
  display: flex;
  list-style: none;
  gap: 10px;
  li {
    a,
    button {
      display: block;
      text-decoration: none;
      color: var(--text-color);
      font-size: 1rem;
      background: none;
      border: none;
      cursor: pointer;
      outline: none;
      padding: 8px;
      text-wrap: nowrap;
      &:hover {
        color: var(--primary);
      }
    }
    button {
      display: flex;
      gap: 5px;
      align-items: center;
      svg {
        margin-top: 3px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .hasSubMenu {
    position: relative;
    &:hover {
      .subMenu {
        display: block;
      }
    }
  }
}

.subMenu {
  display: none;
  position: absolute;
  z-index: 2;
  top: 100%;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  list-style: none;
  overflow: hidden;
  background: var(--bg);
  a {
    display: block;
    padding: 10px 15px;
    &:hover {
      background: var(--primary);
      color: #fff !important;
    }
  }
}

@media screen and (max-width: 768px) {
  .menu_container {
    position: fixed;
    top: 50px;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
  }

  .menu_container.active {
    left: 0;
  }

  .menu {
    flex-direction: column;
    gap: 10px;
    width: 250px;
    height: 100%;
    padding: 10px;
    background: var(--bg);
    li {
      width: 100%;
      a,
      button {
        width: 100%;
        padding: 10px;
      }
      button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        svg {
          margin-top: 0;
        }
      }
    }
  }

  .subMenu {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    border: none;
    border-radius: 0;
    background: var(--bg);
    a {
      padding: 10px 20px;
      &:hover {
        background: transparent;
        color: var(--primary) !important;
      }
    }
  }

  .subMenu.active {
    display: block;
  }

  .toggle_btn {
    display: block;
    cursor: pointer;
  }
}

.login {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  svg {
    font-size: 25px;
  }
}

.avatar {
  border: none;
  outline: none;
  background: none;
}

.logout {
  position: absolute;
  top: 50px;
  right: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 10px;
}
