.charts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  justify-content: center;
  > div {
    flex: 1 1 300px;
    min-width: 200px;
    max-width: 400px;
    height: 100%;
    background: var(--border-color);
    border: 1px solid var(--border-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.loader {
  height: 400px !important;
}
