.footer {
  background: #2a2a2a;
  color: #fff;
  p {
    color: #ffffffe2;
  }
  a {
    text-wrap: nowrap;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: var(--primary) !important;
    }
  }
  a:visited {
    color: unset;
  }
}
